# group[mysqld]: Options read by mysqld, which includes both MariaDB Server and MySQL Server.
[mysqld]
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
lower-case-table-names          = 1
log-bin                         = /var/lib/mysql/mysql-bin.log
log-bin-compress                = true

# group[mysql]: Options read by mysql, which includes both MariaDB Server and MySQL Server.
[mysql]
default-character-set           = utf8mb4

# group[client]: Options read by all MariaDB and MySQL client programs, which includes both MariaDB and MySQL clients.
[client]
default-character-set           = utf8mb4

# group[mysqldump]: Options read by mysqldump, which includes both MariaDB Server and MySQL Server.
[mysqldump]
default-character-set           = utf8

